# Git LFS configurations

# 建模文件
*.STL *.STEP filter=lfs diff=lfs merge=lfs -text

*.DXF filter=lfs diff=lfs merge=lfs -text

*.SLDASM *.SLDPRT filter=lfs diff=lfs merge=lfs -text

# PCB设计文件
*.DRL filter=lfs diff=lfs merge=lfs -text

*.GKO *.GBL *.GBS *.GBO *.GDL *.GDD *.GTL *.GTP *.GTO *.GTS filter=lfs diff=lfs merge=lfs -text

*.FCBO *.FCBM *.FCBS *.FCTS filter=lfs diff=lfs merge=lfs -text

# 图片文件
*.png *.jpg *.jpeg filter=lfs diff=lfs merge=lfs -text

# 文档文件
*.xlsx filter=lfs diff=lfs merge=lfs -text

# 机器学习模型文件
*.pt *.npy filter=lfs diff=lfs merge=lfs -text
