# Git LFS configurations

# 建模文件
*.STL filter=lfs diff=lfs merge=lfs -text
*.STEP filter=lfs diff=lfs merge=lfs -text

*.DXF filter=lfs diff=lfs merge=lfs -text

*.SLDASM filter=lfs diff=lfs merge=lfs -text
*.SLDPRT filter=lfs diff=lfs merge=lfs -text

# PCB设计文件
*.DRL filter=lfs diff=lfs merge=lfs -text

*.GKO filter=lfs diff=lfs merge=lfs -text
*.GBL filter=lfs diff=lfs merge=lfs -text
*.GBS filter=lfs diff=lfs merge=lfs -text
*.GBO filter=lfs diff=lfs merge=lfs -text
*.GDL filter=lfs diff=lfs merge=lfs -text
*.GDD filter=lfs diff=lfs merge=lfs -text
*.GTL filter=lfs diff=lfs merge=lfs -text
*.GTP filter=lfs diff=lfs merge=lfs -text
*.GTO filter=lfs diff=lfs merge=lfs -text
*.GTS filter=lfs diff=lfs merge=lfs -text


*.FCBO filter=lfs diff=lfs merge=lfs -text
*.FCBM filter=lfs diff=lfs merge=lfs -text
*.FCBS filter=lfs diff=lfs merge=lfs -text
*.FCTS filter=lfs diff=lfs merge=lfs -text

# 图片文件
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text

# 文档文件
*.xlsx filter=lfs diff=lfs merge=lfs -text

# 机器学习模型文件
*.pt filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text