*.STL[[:space:]]*.STEP[[:space:]]*.DXF[[:space:]]*.SLDASM[[:space:]]*.SLDPRT[[:space:]]*.DRL[[:space:]]*.GKO[[:space:]]*.GBL[[:space:]]*.GBS[[:space:]]*.GBO[[:space:]]*.GDL[[:space:]]*.GDD[[:space:]]*.GTL[[:space:]]*.GTP[[:space:]]*.GTO[[:space:]]*.GTS[[:space:]]*.FCBO[[:space:]]*.FCBM[[:space:]]*.FCBS[[:space:]]*.FCTS[[:space:]]*.png[[:space:]]*.jpg[[:space:]]*.jpeg[[:space:]]*.xlsx[[:space:]]*.pt[[:space:]]*.npy filter=lfs diff=lfs merge=lfs -text
